# requirements.txt

streamlit
requests
pandas
cryptography
streamlit-authenticator>=0.3.0  # <<< BU SATIRI BU ŞEKİLDE GÜNCELLEYİN VEYA EKLEYİN
PyYAML
bcrypt
openpyxl
XlsxWriter
gspread
gspread-dataframe
oauth2client
google-auth
google-auth-oauthlib
google-auth-httplib2
numpy